.rolodexContainer {
  max-width: 1024px;
  margin: 0px auto;
  background: rgb(254, 183, 1);
  background: linear-gradient(
    356deg,
    rgba(254, 183, 1, 1) 0%,
    rgba(9, 9, 121, 1) 53%,
    rgba(255, 255, 0, 1) 100%
  );
}

.artistsBox,
.recordsBox,
.detailsBox {
  float: left;
  height: 100%;
  width: 33%;
  box-sizing: content-box;
}
